.ColRank {
    width: 50px;
    text-align: left;
    padding: 8px;
    border: 1px solid #333;
    border-right: 0px;
}

.ColTitle {
    width: 350px;
    text-align: left;
    padding: 8px;
    border: 1px solid #333;
    border-right: 0px;
    border-left: 0px;
}

.ColYear {
    width: 50px;
    text-align: left;
    padding: 8px;
    border: 1px solid #333;
    border-left: 0px;
}